body{
background-color: DarkGray;
height:1200px;
}

.maindiv{
width:46%;
height:90%;
position: absolute;
top: 5%;
left: 28%;
}

.table1{
width: 100%;
height: 90px;
background-color: white;
}

.header1{
color: DarkRed;
font-size: 25px;
align-content: center;
font-family:  Segoe UI Black;
}

.div{
background-color: Gainsboro;
width: 100%;
}

.div1{
width: 50%;
height: 150px;
float: left;
box-sizing: border-box;
padding-top: 10px;
padding-left: 40px;
}

.p1{
color: DarkRed;
font-size: 13px;
font-family: Yu Gothic UI Semibold;
}

.div2{
padding-top: 10px;
box-sizing: border-box;
width: 50%;
height: 150px;
float: right;

}

.input1{
width: 90%;
height: 30px;
border-radius: 2px;
border: 1px solid #ccc;
}

.date{
color: Gray;
}

.input2{
width: 80%;
height: 30px;
border-radius: 2px;
border: 1px solid #ccc;
}

.div3{
padding-top: 50px;
box-sizing: border-box;
width: 100%;
height: 200px;
padding-left: 40px;

}

.div4{
float:left;
width:45%;
height: 30px;
}

.div5{
float:right;
width:55%;
height: 30px;
}

.div6{
float:left;
width:45%;
height: 30px;
}

.div7{
float:right;
width:55%;
height: 30px;
}

.div8{
float:left;
width:45%;
height: 60px;
}

.div9{
float:right;
width:55%;
height: 60px;
}

.button1{
transform: scale(1.2);
}

.span{
color:FireBrick;
font-size: 12px;
font-family: Arial;
}

.div10{
padding-top: 50px;
box-sizing: border-box;
width: 100%;
padding-left: 40px;
}

.div11{
float:left;
width:45%;
height: 60px;
}

.div12{
float:right;
width:55%;
height: 60px;
}


.div13{
padding-top: 50px;
box-sizing: border-box;
width: 100%;
padding-left: 40px;

}

.div14{
float:left;
width:45%;
height: 60px;
}

.div15{
float:right;
width:55%;
height: 60px;
}

.div16{
padding-top: 50px;
box-sizing: border-box;
width: 100%;
padding-left: 40px;

}

.div17{
float:left;
width:45%;
height: 30px;
}

.div18{
float:right;
width:55%;
height: 30px;
}

.div19{
float:left;
width:45%;
height: 60px;
}

.div20{
float:right;
width:55%;
height: 60px;
}

.div21{
padding-top: 50px;
box-sizing: border-box;
width: 100%;
padding-left: 40px;
}

.div22{
float:left;
width:45%;
height: 30px;
}

.div23{
float:right;
width:55%;
height: 30px;
}

.div24{
float:left;
width:45%;
height: 120px;
}
.div25{
float:right;
width:55%;
height: 120px;
}

.div26{
padding-top: 50px;
box-sizing: border-box;
width: 100%;
height: 350px;
padding-left: 40px;

}

.input3{
padding-left: 10px;
box-sizing: border-box;
width: 90%;
height: 120px;
max-width: 95%;
max-height: 150px;
border-radius: 2px;
border: 1px solid #ccc;
padding-top: 5px;
}

input::placeholder {
color: Silver;
font-size: 14px;
}

.div27{
width: 100%;
height:100px
box-sizing: border-box;
text-align: center;
}

.submitb{
margin-bottom: 25px;
background-color: #595959;
color:White;
padding: 10px 45px;
border-radius: 4px;
border: none;
font-size: 12px;
}





















