body{
background-color: DarkGray;
}

.maincontainer{
width: 45%;
margin: 40px auto;
}

table{
width: 100%;
height: 90px;
background-color: white;
}

.header1{
color: DarkRed;
font-size: 25px;
align-content: center;
font-family:  Segoe UI Black;
}

.secondarycontainer{
background-color: Gainsboro;
width: 100%;
}

.datebox{
width: 50%;
float: left;
box-sizing: border-box;
padding-top: 10px;
padding-left: 40px;
padding-bottom: 40px;
height: 150px;
}

.p1{
color: DarkRed;
font-size: 13px;
font-family: Yu Gothic UI Semibold;

}

.product{
padding-top: 10px;
box-sizing: border-box;
width: 50%;
float: right;
height: 150px;

}

.input1{
width: 90%;
height: 30px;
border-radius: 2px;
border: 1px solid #ccc;
}

.date{
color: Gray;
}

.input2{
width: 80%;
height: 30px;
border-radius: 2px;
border: 1px solid #ccc;
}

.container1{
padding-top: 50px;
box-sizing: border-box;
width: 100%;
height: 200px;
padding-left: 40px;
}

.div1
{
float:left;
width:45%;
height: 30px;
}

.div2{
float:right;
width:55%;
height: 30px;
}

.div3{
float:left;
width:45%;
height: 30px;
}

.div4{
float:right;
width:55%;
height: 30px;
}

.div5{
float:left;
width:45%;
height: 60px;
}

.div6{
float:right;
width:55%;
height: 60px;
}

.button1{
transform: scale(1.2);
}

.span{
color:FireBrick;
font-size: 12px;
font-family: Arial;
}

.container2{
padding-top: 50px;
box-sizing: border-box;
width: 100%;
padding-left: 40px;
}

.div7{
float:left;
width:45%;
height: 60px;
}

.div8{
float:right;
width:55%;
height: 60px;
}


.container3{
padding-top: 50px;
box-sizing: border-box;
width: 100%;
padding-left: 40px;

}

.div9{
float:left;
width:45%;
height: 60px;
}

.div10{
float:right;
width:55%;
height: 60px;
}

.container4{
padding-top: 50px;
box-sizing: border-box;
width: 100%;
padding-left: 40px;

}

.div11{
float:left;
width:45%;
height: 30px;
}

.div12{
float:right;
width:55%;
height: 30px;
}

.div13{
float:left;
width:45%;
height: 60px;
}

.div14{
float:right;
width:55%;
height: 60px;
}

.container5{
padding-top: 50px;
box-sizing: border-box;
width: 100%;
padding-left: 40px;
}

.div15{
float:left;
width:45%;
height: 30px;
}

.div16{
float:right;
width:55%;
height: 30px;
}

.div17{
float:left;
width:45%;
height: 120px;
}
.div18{
float:right;
width:55%;
height: 120px;
}

.commentscontainer{
padding-top: 50px;
box-sizing: border-box;
width: 100%;
position: relative;
text-align: center;
}

.input3{
padding-left: 10px;
box-sizing: border-box;
width: 90%;
height: 150px;
min-height: 50px;
max-width: 90%;
min-width: 90%;
border-radius: 2px;
border: 1px solid #ccc;
padding-top: 5px;

}

input::placeholder {
color: Silver;
font-size: 14px;
}

.submitb{
margin-top: 25px;
margin-bottom: 25px;
background-color: #595959;
color:White;
padding: 10px 45px;
border-radius: 4px;
border: none;
font-size: 12px;
}





















